.cards{
    width: 100%;
    height: 40vh;
    /* background-color: purple; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.card{
    background-color: red;
    height: 250px;
    padding: 8px;
    /* width: 25%; */
}